.row-padd {
    padding: 40px 0;
}
.card-sup {
  height: 430px;
  width: 355px;
}
.container-cards {
  display: flex;
  flex-wrap: wrap;
  gap:.7rem;
  align-items: center;
  justify-content: center;

}
.character-card {
border: 1px solid #000;
border-radius: 20px;
padding: 0 15px;
width: 340px;
height: 400px;


}

.character-card:hover {
  transform: translate(-5px, -15px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.character-card-resuls{
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrar {
    padding: 40px 0;
    align-items: center;
  justify-content: center;
}